---
import Layout from "@layouts/Layout.astro";

const metadata = {
  title: "404 Error",
  description: "Sorry, it doesn't exist.",
}
---

<Layout {...metadata}>
  <div class="flex flex-col items-center justify-center my-8">
    <div class="max-w-md md:max-w-2xl text-center p-4">
      <h1 class="mb-8 text-5xl font-semibold">{metadata.title}</h1>
      <h2 class="mb-8 text-zinc-300">{metadata.description}</h2>
      <a class="flex flex-col items-center p-2 rounded-xl bg-zinc-800/60 hover:ring-2 transition" href="/">Go to home</a>
    </div>
  </div>
</Layout>
