---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { blogs } from "@content/blogs";
---

<Layout title="Blog - Lance Ross" description="This is where you can find my all my posts about web development.">
  <section>
    <h1 class="text-4xl mb-6 dark:text-white">My Blog</h1>
    <p class="dark:text-zinc-300">
      This is where I write about my experiences as a web developer, and share my thoughts in web development field. I also write about my personal life here.
    </p><br />
  </section>
  <section>
    {blogs.map((blog) => <BlogCard title={blog.title} description={blog.description} pubDate={blog.pubDate} url={blog.url} />)}
  </section>
</Layout>
