---
import Layout from "@layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import Lance from "@images/lanceross.jpg";
import Socials from "@components/Socials.astro";
---

<Layout>
  <section class="my-8 sm:mb-14 sm:flex sm:items-center sm:justify-evenly">
    <div class="rounded-full overflow-hidden inline-flex sm:m-8">
      <Picture src={Lance} alt="Image of the author" aspectRatio="1:1" widths={[320]} loading="eager" sizes="160px" width={160} height={160} />
    </div>
    <header class="mt-8 max-w-lg sm:my-0">
      <h1 class="mb-4 text-3xl font-bold tracking-tight dark:text-white">Lance Ross</h1>
      <h2 class="mb-4 dark:text-zinc-200">Student Web Developer</h2>
      <p class="max-w-10 font-normal leading-7 dark:text-zinc-300 sm:max-w-sm md:max-w-xl">
        Welcome to my home on the internet. I'm an aspiring web developer in the Philippines building different projects for fun with web technologies I'm currently learning.
      </p>
    </header>
  </section>
  <section>
    <div class="py-14 grid place-items-center text-center">
      <h1 class="text-3xl mb-8">Who am I?</h1>
      <p class="max-w-2xl dark:text-zinc-300">
        Hey there! I'm Lance Ross. I am an aspiring Web developer in the Philippines. You probably saw me on Twitter or Discord chatting around with web development related servers.
      </p>
      <p class="mt-5 max-w-xl dark:text-zinc-300">Interested with projects I'm working on? You can find all my <a href="/projects" class="hover:underline font-medium dark:text-slate-400 text-slate-700">projects</a> there. I also have a <a href="/blog" class="hover:underline dark:text-slate-400 text-slate-700">blog</a> where I write stories about web development</p>
    </div>
  </section>
  <section>
    <Socials />
  </section>
</Layout>
