---
import Layout from "@layouts/Layout.astro";
import Lance from "@images/lanceross.jpg";
import { Picture } from "@astrojs/image/components";
---

<Layout>
  <section class="pb-10 sm:flex sm:items-center sm:justify-between sm:flex-row-reverse">
    <Picture
      src={Lance}
      class="rounded-full overflow-hidden inline-flex sm:m-8"
      alt="Lance Ross with a Face Mask"
      aspectRatio="1:1"
      widths={[320]}
      loading="eager"
      sizes="160px"
      width={160}
      height={160}
    />
    <header class="mt-8 max-w-lg sm:my-0">
      <h1 class="mb-4 text-3xl sm:text-4xl font-semibold tracking-tight">Lance Ross</h1>
      <h2 class="mb-4 text-zinc-200">Student Web Developer</h2>
      <p class="max-w-10 text-zinc-300 sm:max-w-sm md:max-w-xl">
        Welcome to my home on the internet. I'm an aspiring web developer in the Philippines building different projects for fun with web technologies I'm currently learning.
      </p>
    </header>
  </section>
  <section class="py-10 mb-10 md:py-14 text-zinc-300">
    <h1 class="mb-6 text-3xl md:text-4xl font-semibold tracking-tight text-white">About Me</h1>
    <p>I'm Lance Ross, a Frontend Web Developer from the Philippines. I enjoy building small projects using Astro and Tailwind CSS.</p><br />
    <p>I create basic webpages when I have free time after school. When not busy with doing projects and schoolworks, I play video games like Genshin Impact.</p>
  </section>
</Layout>
