---
import NavLink from "@components/NavLink.astro";

const navbar = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about/" },
  { name: "Projects", href: "/projects/" },
  { name: "Blog", href: "/blog/" },
  { name: "RSS", href: "/rss.xml" },
];
---

<header class="flex flex-row justify-between text-zinc-300 text-lg mb-14">
  {
    (
      <nav class="flex items-center justify-start max-w-min rounded-md bg-zinc-800/60 mx-auto overflow-x-auto sm:overflow-x-visible px-4">
        {navbar.map((navbar) => (
          <NavLink href={navbar.href} name={navbar.name} />
        ))}
      </nav>
    )
  }
</header>
