---
import { Icon } from "astro-icon";
---

<noscript class="p-6 sticky bottom-1">
  <div class="dark:bg-zinc-800 bg-zinc-100 flex justify-center items-center max-w-2xl mx-auto w-full py-6 rounded-xl shadow-xl flex-col">
    <h1 class="px-4 text-center">Please enable JavaScript on your browser. Some functionalities won't work without it even so this is just a static site, Thank you!</h1>
  </div>
</noscript>