---
import { Icon } from "astro-icon";
---

<div class="py-14 grid place-items-center text-center">
  <h2 class="text-3xl mb-8">Get In Touch</h2>
  <p class="max-w-lg dark:text-zinc-300">If you want collab on a small project or just want say hello to me, Feel free to send an email and I will look forward to your message!</p>
  <div class="mt-8 flex justify-center items-center flex-wrap">
    <a class="mx-4" href="https://twitter.com/lancerossdev" target="_blank" rel="noopener nofollow noreferrer" aria-label="Twitter Logo"
      ><Icon name="eva:twitter-outline" class="w-7 dark:text-white text-black hover:text-slate-500 dark:hover:text-slate-400 transition-colors motion-reduce:transition-none my-3" />
    </a>
    <a class="mx-4" href="https://github.com/lancerossdev" target="_blank" rel="noopener nofollow noreferrer" aria-label="GitHub Logo">
      <Icon name="eva:github-outline" class="w-7 dark:text-white text-black hover:text-slate-500 dark:hover:text-slate-400 transition-colors motion-reduce:transition-none my-3" />
    </a>
    <a class="mx-4" href="mailto:lancerossdev@duck.com" target="_blank" rel="noopener nofollow noreferrer" aria-label="Email Logo">
      <Icon name="eva:email-outline" class="w-7 dark:text-white text-black hover:text-slate-500 dark:hover:text-slate-400 transition-colors motion-reduce:transition-none my-3" />
    </a>
    <a class="mx-4" href="https://codepen.io/lancerossdev" target="_blank" rel="noopener nofollow noreferrer" aria-label="CodePen Logo">
      <Icon name="akar-icons:codepen-fill" class="w-6 dark:text-white text-black hover:text-slate-500 dark:hover:text-slate-400 transition-colors motion-reduce:transition-none my-3" />
    </a>
    <a class="mx-4" href="https://mas.to/@lancerossdev" target="_blank" rel="me noopener nofollow noreferrer" aria-label="Mastodon Logo">
      <Icon name="ri:mastodon-line" class="w-7 dark:text-white text-black hover:text-slate-500 dark:hover:text-slate-400 transition-colors motion-reduce:transition-none my-3" />
    </a>
  </div>
</div>
